

.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems{
    padding: 10px;
    color: white;
}

.dialog{

}

.active{
    color: rgb(244, 138, 138);
}

.messages{
    padding: 10px;
}

.message{

}
.userPhoto {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}